<!DOCTYPE html>
<html ng-app="pingPong">
  <head>
    <meta charset="utf-8">
    <title>Ping Pong Score Keeper</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container" ng-controller="mainController">
      <h2>Ping Pong Score Keeper</h2>

      <div class="row row-centered">
        <div class="col-centered box" ng-class="{win: game.playerOne.score == 11, lose: game.playerTwo.score == 11}">
          <h2>Player 1</h2>
          <h1 ng-click="incrementScorePlayerOne();  serving()">{{game.playerOne.score}}</h1>
          <h4><span ng-show="game.playerOne.serving">Serving</span></h4>
        </div>

        <div class="col-centered box" ng-class="{win: game.playerTwo.score == 11, lose: game.playerOne.score == 11}">
          <h2>Player 2</h2>
          <h1 ng-click="incrementScorePlayerTwo(); serving()">{{game.playerTwo.score}}</h1>
          <h4><span ng-show="game.playerTwo.serving">Serving</span></h4>
        </div>
      </div>
      <br>
      <button type="submit" class="btn text-center col-md-2 col-md-offset-5 col-xs-2 col-xs-offset-5" ng-click="init()">Play Again?</button>

    </div>

      <!-- scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
