h2 {
  text-align: center;
}

.box {
  height: 400px;
  width: 400px;
  background-color: #4FBAA5;
  margin: 60px;
}

h1 {
  font-size: 10em;
  padding: 60px;
}

h2 {
  padding: 10px;
}

.lose {
  background-color: #8B0000;
}

.win {
  background-color: #39AB15;
}


.row {
  margin: 0 auto;
}
