<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title>Basic Angular Practice</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <div class="container">

      <h1> Angular Practice</h1>

        <p>This looks super lame but its displays my initial practice learning Angular!</p>

      <h3> Add numbers:</h3>

        <p>1 + 6 = {{1 + 6}}</p>
      <hr>

      <h3>Input fields:</h3>

        <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
        <p>{{ greeting }} world!</p>
        <input type="text" placeholder="What is your name?" ng-model="name" >
        <h4>My name is: {{name}}</h4>
      <hr>

      <h3>Select box:</h3>

        <select ng-model="animalSelection">
          <option>Dogs</option>
          <option>Cats</option>
          <option>Dogs and Cats</option>
          <option>Neither</option>
        </select>
        <h4>I love {{animalSelection}}</h4>
      <hr>

      <h3>Currency Filter:</h3>

        <p>{{3.14159265359 | currency: "€"}}</p>
      <hr>

      <h3>Case Filter:</h3>

        <input type="text" ng-model="words">
        <p>Caps: {{words | uppercase}}</p>
        <p>Regular: {{words | lowercase}}</p>
      <hr>

      <h3>Number Filter:</h3>
        <p>How many digits of pi do you want?</p>
        <select ng-model="pi">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select><br>
        <ng-pluralize count="pi"
                      when="{'1': 'Here is pi with 1 digit: ',
                            'other': 'Here is pi with {} digits: '}">
        </ng-pluralize>
        <p>{{3.14159265359 | number: pi}}</p>
      <hr>

      <h3>Tip Calculator:</h3>
        <p>How much did your meal cost? <input type="text" ng-model="cost"></p>
        <p>How much do you want to tip?</p>
        <select ng-model="tip">
          <option value="0.10">10%</option>
          <option value="0.15">15%</option>
          <option value="0.20">20%</option>
        </select>
        <br>
        <h4>Subtotal: {{cost | currency}}</h4>
        <h4>Tip: {{cost*tip | currency}}</h4>
      <hr>

      <h3>Repeat:</h3>

      <div ng-controller="mainController">
        <p>With ng-repeat on li:</p>
          <ul>
            <li ng-repeat="name in names">
              {{name}}
            </li>
          </ul>

        <p>With ng-repeat on ul:</p>
          <ul ng-repeat="name in names">
            <li>{{name}}</li>
          </ul>

        <p>With symbols:</p>
          <ul>
            <li ng-repeat="symbol in symbols" ng-bind-html="symbol" >
              {{symbol}}
            </li>
          </ul>
        <p>

        <p>With mulitple numbers in array:</p>
          <ul>
            <li ng-repeat="number in numbers track by $index">
            {{number}}
            </li>
          </ul>

        <p>Keys in object:</p>
          <ul>
            <li ng-repeat="(key, value) in places">
            {{key | uppercase}}: {{value}}
            </li>
          </ul>
      </div>
      <hr>

      <h3>Show/Hide:</h3>

        <div ng-show="3 + 4 == 5">
          3 + 4 isn't 5, don't show
        </div>

        <div ng-show="3 + 4 == 7">
          3 + 4 is 7, do show
        </div>

        <div ng-hide="3 + 4 == 5">
            3 + 4 isn't 5, don't hide
        </div>

        <div ng-hide="3 + 4 == 7">
          3 + 4 is 7, do hide
        </div>
        <br>
        <h4>Sign up page:</h4>
        <input type="password" ng-model="password">
        <p ng-class="{invalid: password.length < 6, valid: password.length >= 6}">Your password is {{password.length || 0}} characters.</p>
        <p ng-show="password.length < 6">Password is invalid!</p>
        <button type="submit" ng-show="password.length >= 6">Sign up!</button>
        <hr>

        <h3>Class:</h3>

        <div ng-class="{highlight: 4 + 4 == 8}"> 4 + 4 = 8</div>
        <div ng-class="{highlight: 4 + 4 == 10}">4 + 4 = 10</div>
        <hr>

        <h3>Camera Shop:</h3>

        <div ng-controller="mainController">
          <select ng-model="cameraSelected"
          <option ng-options="camera.price for camera in cameras | orderBy: '-price'">Price</select>
          </select>
          <div ng-model="camera" ng-repeat="camera in cameras | orderBy: cameraSelected">
            <p><strong>{{camera.title}}</strong></p>
            <p ng-show="camera.onSale == true" ng-class="{sale: camera.onSale == true}"><em>Price: </em>{{camera.price | currency}} ON SALE!</p>
            <p ng-show="camera.onSale == false"><em>Price: </em>{{camera.price | currency}}</p>
            <p><em>Rating: </em>{{camera.rating}}</p>
            <img ng-src="{{camera.image}}" class="thumbnail">
          </div>
        </div>

    </div>
    <br><br>
    <!-- scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <!-- angular module -->
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
